* {
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.areaDePesquisa{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputBook{
    width: 500px;
    height: 30px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 5px;
}

.pesquisador{
    width: 150px;
    height: 30px;
    font-size: 18px;
}

.areaDeResultados{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(8, 184, 50);
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #0008;
}

.card{
    width: 150px;
    min-height: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #111;
    
    position: relative;
}

.capa{
    height: 170px;
    image-rendering: pixelated;
    top: 0;
}

.titulo{
    width: 128px;
    bottom: 0;
    text-align: center;
    color: #222;    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.livro{
    background-color: #0008;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}