@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'roboto';
}

body {
    background-color: #151d30;
}

h1{
    width: 340px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 25px;
    color: #fff;
    background-color: #f55951;
    box-shadow: 1px 1px 5px #0004;  
}

.container {
    width: 980px;
    margin: 0 auto;
}

.areaDePesquisa {
    width: 60%;
    height: 160px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputBook {
    width: 78%;
    height: 40px;
    padding: 0 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
    border: none; 
    font-size: 18px;
    align-items: center;
    box-shadow: 1px 1px 5px #0004;   
}

.pesquisador {
    width: 100px;
    height: 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #f55951;
    color: #fff;
    align-items: center;
    transition: .5s; 
}

.pesquisador:hover {
    cursor: pointer;    
    background-color: #d53931;
}

.areaDeResultados {
    min-height: 210px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #0008;
    background-color: #e1e2e6;
    position: relative;
}

.titulo {
    text-align: center;
}

.card {
    width: 130px;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 5px #0004;    
    background-color: #fff;
    cursor: pointer;
}

.molde {
    height: 170px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}

.capa {
    max-height: 170px;
    max-width: 130px;
    image-rendering: pixelated;
    box-shadow: 1px 1px 3px #0008;
}

.telaDoLivro {
    background-color: #000c;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 9px;
}

.btnFechar {
    height: 30px;
    width: 30px;
    padding: 5px;
    border-radius: 50%;
    font-size: 30px;
    font-family: 'Baloo 2';
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff9;
    text-align: end;
    text-shadow: 1px 1px 2px #000b;
    user-select: none;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.livro {
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    gap: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 1px 1px 3px #0008;
}

.descricao {
    width: 80%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    background-color: #fafafa;
}